@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "abstracts/_variables.scss";
body{
    font-family: 'Roboto', sans-serif;
    a{text-decoration: none;}
}
.bg-info {
    --bs-bg-opacity: 1;
    background-color:$lightBlue !important;
  }
  
/*1. Header*/

/*1.1 Navbar*/

.wrap{
    
    padding:0px !important;
   
    nav .bg-white{
        --bs-bg-opacity: 0;
    }
    .heroBg{
        height: 490px;
        background:url("../img/jumboBg.svg");
        background-repeat: no-repeat;
        background-size: cover;

    }
    .hero-social-icons {
        position: absolute;
        right: 0;
        top: -44px;
    }   

    .carousel-caption {
        position: absolute;
        bottom: 7.25rem;
        left: 5%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: left;
    }
    

    .mb-lg-n11 {
        margin-bottom: -15rem !important;
    }

    .section2{
        background-color: $secondaryColor;
        h1{
            font-size: 42px;
            font-weight: 700;
        }

    }

}

footer{
    background-color: $primaryColor;
    p{
        color: $secondaryColor;
        font-size: 18px;
    }
    a{
        color:$secondaryColor;
        font-size: 18px;
    }

}


