//Variables
//Color variables
$primaryColor: #292D38;
$secondaryColor: #D8F8F0;
$lightBlue:#07D2F5;
$lightGreen1: #3CDEB4;
$grey2: #ECECEC;
$ctaBlue: #017ABE;
$grey2:#ECECEC;
$black: #1E1E1E;
$lightBlue: #07D2F5;
$darkBlue: #292D38;
$white: #fff;

// Table colors
$table-bg:#eeeeee;
$lightGreen1:#3CDEB4;
$plan-header-bgBasic: $grey2;
$plan-header-bg:#34495E;
$single-table-bg:#fff;
$table-header:#fff;
$table-border-color:lighten($plan-header-bg, 60%);
$plan-price-color: #fff;
$plan-price-month-color: #8394AE;
$plan-price-border: lighten($plan-header-bg, 20%);